* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#box {
    width: 400px;
    height: 200px;
    background: silver;
    margin: 40px auto;
    overflow: hidden;
}

#box ul {
    height: 40px;
}

#box ul li {
    line-height: 40px;
    float: left;
    padding: 0 50px;
    /*background: sandybrown;*/
    color:lightseagreen;
    /*border-right:1px solid palevioletred ;*/
}

#con {
    height: 160px;
}

#con p {
    padding: 20px;
    width: 360px;
    height: 120px;
}