* {
    margin: 0;
    padding: 0;
    list-style: none;
}
#box {
    width: 600px;
    background: indigo;
    margin: 60px auto;
    border: solid 20px indigo;
}
#box ul {
    height: 60px;
    padding-top: 10px;
}
#box ul li {
    width: 100px;
    line-height: 60px;
    float: left;
    padding: 0 20px;
    font-size: 20px;
    background: indigo;
    color: mediumpurple;
    /*border-right: 3px solid;*/
    text-align: center;
}
#con {
    height: auto;

}
#con p {
    padding: 20px;
    height: auto;
    background: white;
    display: none;
}